@{
    ViewData["Title"] = "Aggiungi nuova tipologia";
}

<!-- Page Container -->
<div class="container my-4 py-4 bg-dark text-light rounded shadow-sm">
    <h2 class="text-center">@ViewData["Title"]</h2>

    <!-- Form -->
    <form method="post" class="mt-4">
        <div class="form-group mb-3">
            <label for="Nome" class="form-label">Nome Tipologia</label>
            <input type="text" id="Nome" name="nome" class="form-control bg-dark text-light border-secondary" required />
        </div>

        <button type="submit" class="btn btn-custom-gestionale w-100 rounded-pill">Aggiungi</button>
    </form>
</div>