@{
    ViewData["Title"] = "Modifica il carousel";
}

<!-- Page Container -->
<div class="container my-4 py-4 bg-dark text-light rounded shadow-sm">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <!-- Form -->
    <form method="post" enctype="multipart/form-data" class="mt-4">
        <!-- URL Immagine -->
        <div class="form-group row mb-3">
            <label asp-for="" class="col-sm-4 col-form-label">Immagine URL</label>
            <div class="col-sm-8">
                <input type="text" class="form-control bg-dark text-light border-secondary"
                    asp-for="" value="@Model.">
                <span asp-validation-for="" class="text-danger"></span>
            </div>
        </div>

        <!-- Upload Immagine -->
        <div class="form-group row mb-3">
            <label for="ImmagineCaricata" class="col-sm-4 col-form-label">Carica nuova immagine</label>
            <div class="col-sm-8">
                <input type="file" id="ImmagineCaricata" name="ImmagineCaricata"
                    class="form-control bg-dark text-light border-secondary" accept="image/*">
                <span asp-validation-for="" class="text-danger"></span>
            </div>
        </div>


        <!-- URL Immagine -->
        <div class="form-group row mb-3">
            <label asp-for="" class="col-sm-4 col-form-label">Immagine URL</label>
            <div class="col-sm-8">
                <input type="text" class="form-control bg-dark text-light border-secondary"
                    asp-for="" value="@Model.">
                <span asp-validation-for="" class="text-danger"></span>
            </div>
        </div>

        <!-- Upload Immagine -->
        <div class="form-group row mb-3">
            <label for="ImmagineCaricata" class="col-sm-4 col-form-label">Carica nuova immagine</label>
            <div class="col-sm-8">
                <input type="file" id="ImmagineCaricata" name="ImmagineCaricata"
                    class="form-control bg-dark text-light border-secondary" accept="image/*">
                <span asp-validation-for="" class="text-danger"></span>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="form-group row">
            <div class="col-sm-8 offset-sm-4">
                <button type="submit" class="btn btn-primary">Salva</button>
            </div>
        </div>
    </form>
</div>
