/*html {
  font-size: 14px;
}*/

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
} */

html {
  position: relative;
  min-height: 100%;
  font-size: 16px;
}
/*
body {
  margin-bottom: 60px;
}*/


body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(241, 244, 247);
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}


.custom-navbar {
  background-color: #212529; 
  color: white; 
}


.custom-navbar .nav-link, 
.custom-navbar .navbar-brand, 
.custom-navbar .btn-cart .bi {
    color: white !important; /* Forza il colore bianco per link e brand */
}

.btn-1{
  border-radius : 50%;
  background-color: rgb(233, 236, 240);
  color: black;
}

/* Custom CSS gestionale*/

.container.bg-dark {
    background-color: #1e1e1e;
}

.btn-custom-gestionale {
    background-color: #909499;
    color: #ffffff;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.btn-custom-gestionale:hover {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #b0b0b0; /* Grey border */
}

.form-control{
  background-color: #333;
  color: #ffffff;
  border: 1px solid #555;
}
.form-control:focus {
  background-color: #444;
  color: #ffffff;
  border-color: #888;
}
